<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<title>Prenotazione non riuscita</title>
	<link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
<style>
.warning {
			color: #9F6000;
			background-color: #FEEFB3;
			background-image: url('https://i.imgur.com/Z8q7ww7.png');
			border: 1px solid;
			margin: 10px 0px;
			padding: 15px 10px 15px 50px;
			background-repeat: no-repeat;
			background-position: 10px center;
		}
</style>
</head>
<body>
	<div class = "container text-center">
		<div>
			<h3 class="warning">Prenotazione non riuscita: l'evento &egrave al completo.</h3>
			<h4><a href="javascript:history.back()">Torna alla Lista degli Eventi.</a></h4>
		</div>

		
	</div>
</body>
</html>